Join the data from Part 1 with the data from Part 2 to create a new dataframe.

In [1]:
import pandas as pd

combined_df = pd.read_csv("bike_and_yelp_df.csv")

Provide a visualization that you used as part of your EDA process. Explain the initial pattern or relationship you discoved through this visualization.

# Database

Put all your results in an SQLite3 database (remember, SQLite stores its databases as files in your local machine - make sure to create your database in your project's data/ directory!)

In [44]:
import sqlite3

conn = sqlite3.connect('../data/data.db')
cursor = conn.cursor()

# cursor.execute("CREATE TABLE citybikes(name, bikes, rating, latitude_x, longitude_x, latitude_y, longitude_y)")

data = []
for _, row in combined_df.iterrows():
    data.append((
        row['name'],
        row['bikes'],
        row['rating'],
        row['latitude_x'],
        row['longitude_x'],
        row['latitude_y'],
        row['longitude_y']
    ))

cursor.executemany("INSERT INTO citybikes VALUES(?, ?, ?, ?, ?, ?, ?)", data)
conn.commit()

# see if data is in there
result = cursor.execute("SELECT * FROM citybikes")
print(result.fetchone())

('Bike Repair Centre', 35, 5.0, 49.262487, -123.114397, 49.2631728, -123.1059464)

Look at the data before and after the join to validate your data.